main{
margin-top:5%

}
#table{
width:25%;
margin:auto;
}
#table, tr, td,th {
 border: 1px solid black;
 text-align:center;
}

body {
      background: #F2F2F2;
      font-family: -apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Arial, sans-serif,'微軟正黑體';
    }