<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head >
    <link th:href="@{navcss.css}" rel="stylesheet">
    <link th:href="@{feed.css}" rel="stylesheet">


</head>
<body>
<div th:insert="nav :: header"></div>

<main>
<!--    <div id="box">-->

<!--        <div th:each="following:${followings}" class="container" >-->
<!--&lt;!&ndash;            <p th:text="${following.firstName}+'  '+${following.lastName} "></p>&ndash;&gt;-->
<!--                        <p th:text="${following.username} "></p>-->
<!--                        <a th:href="@{'/profile/'+${following.id}}"> Profile</a>-->
<!--            <p > Posts</p>-->
<!--            <div th:each="post:${following.getPostsForAll()}" class="posts" >-->
<!--                <p th:text="${post.body}"></p>-->

<!--            </div>-->
<!--            <br>-->
<!--            <br>-->
<!--            <br>-->
<!--        </div>-->
<!--    </div>-->


    <div>
        <div class="card" style="width: 18rem;"  th:each="following:${followings}">
            <img style="width: 200px;" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="no pic"/>
            <p th:text="${following.username} "></p>
            <a th:href="@{'/profile/'+${following.id}}"> Profile</a>
            <p > Posts</p>
            <div th:each="post:${following.getPostsForAll()}" class="posts" >
                <p th:text="${post.body}"></p>

        </div>
            <br/><br/><br/>
            <br/><br/><br/>
            <br/><br/><br/>
    </div>
    <!--    <table>-->
    <!--        <tr>-->
    <!--            <th> Name</th>-->
    <!--            <th> Show </th>-->
    <!--        </tr>-->
    <!--        <tr th:each="following:${followings}">-->
    <!--            <td th:text="${following.firstName}+'  '+${following.lastName} "></td>-->

    <!--        </tr>-->
    <!--    </table>-->

</main>
<!--<footer th:replace="fragment :: footer" ></footer>-->
</body>
</html>