<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header  >
    <nav class="nav" >
        <ul >
               <li> <a href="/"  > Home</a> </li>
                <li >  <a href="/login" > Login</a> </li>
                <li > <a href="/signup" > SignUp</a> </li>

        </ul>
    </nav>

</header>
<main>
    <p> This is CodeFellowship applicatication  that allows people learning to code to connect with each other.</p>
</main>
</body>
</html>