<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{navcss.css}" rel="stylesheet">
    <link th:href="@{profile.css}" rel="stylesheet">

    <title>Document</title>
</head>
<body>
<heder>
    <div th:insert="nav :: header"></div>
    <div class="profiles">
        <div class="profiles__group">
            <img src="https://images.unsplash.com/photo-1525591932088-8eb7ed314934?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt="">
            <p th:text="${username}"></p>
        </div>

<!--        <p th:text="${username}"></p>-->



    <!--    <div sec:authorize="isAuthenticated()">-->
<!--        <li >-->
<!--            <a href="/perform_logout" > Logout</a>-->
<!--        </li>-->

<!--        <li >-->
<!--            <a href="" > Post</a>-->
<!--        </li>-->

<!--        <li >-->
<!--            <a href="/profile" > Profile</a>-->
<!--        </li>-->
<!--        <li >-->
<!--            <a href="/" > Profile</a>-->
<!--        </li>-->

<!--    </div>-->

</heder>
<main >
    <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: <span th:text="${id}"></span></li>
        <li class="list-group-item">Username: <span th:text="${username}"></span></li>
        <li class="list-group-item">First Name: <span th:text="${firstName}"></span></li>
        <li class="list-group-item">Last Name: <span th:text="${lastName}"></span></li>
        <li class="list-group-item">Date Of Birth: <span th:text="${dateOfBirth}"></span></li>
        <li class="list-group-item">Bio: <span th:text="${bio}"></span></li>
    </ul>


<!--    <form action="/profile" method="post" >-->
<!--    <fieldset>-->
<!--        <legend> add post:</legend>-->
<!--&lt;!&ndash;        <label > her write post</label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input id="addpost" name="addpost" type="text">&ndash;&gt;-->
<!--&lt;!&ndash;        <br>&ndash;&gt;-->
<!--&lt;!&ndash;        <br>&ndash;&gt;-->
<!--        <label for="body">Post</label>-->
<!--        <input type="text" name="body" id="body" class="form-control mb-4 col-4" >-->
<!--        <input type="submit" value="add">-->
<!--    </fieldset>-->
<!--    </form>-->
    <form action="/profile" method="post">
        <label for="body">Post</label>
        <input type="text" name="body" id="body" >
        <input type="submit" value="add post">
    </form>























    <div th:each="writePost:${user.getPostsForAll()}">
<!--        <h2 th:text="${onepost.id}"></h2>-->
        <h2 th:text="${writePost.getBody()}"></h2>
        <h2 th:text="${writePost.createdAt}"></h2>
    </div>

</main>
</body>
</html>