<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head >
    <link th:href="@{navcss.css}" rel="stylesheet">

    <link th:href="@{suggest.css}" rel="stylesheet">

</head>
<body>
<div th:insert="nav :: header"></div>

<main>
    <span th:if="${users.size() == 0}"><h1>There is no suggested people to follow</h1></span>

<!--    <table id="table" th:if="${users.size() != 0}" >-->
<!--        <tr>-->
<!--            <th> User Name  </th>-->
<!--            <th> Follow  </th>-->
<!--        </tr>-->
<!--        <tr th:each="user:${users}">-->
<!--            <td th:text="${user.username}"> </td>-->
<!--            <td ><a th:href="@{'/follow/'+${user.id}}" class="btn btn-primary"> Follow</a> </td>-->
<!--        </tr>-->
<!--    </table>-->


<!--    <div class="card" style="width: 18rem;"  th:each="user:${users}">-->
<!--        <img src="..." class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title" th:text="${user.username}"></h5>-->
<!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--        </div>-->
<!--    </div>-->

    <div>
        <div class="card" style="width: 18rem;"  th:each="user:${users}">
            <img style="width: 200px;" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="no pic"/>

            <!--            <img src="..." class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
                <h5 class="card-title" th:text="${user.username}"></h5>
            <a th:href="@{'/follow/'+${user.id}}" class="btn btn-primary"> Follow</a>
            <br/><br/><br/>
            <br/><br/><br/>


        </div>
        </div>
        <div>
            <br/><br/><br/>

        </div>
    </div>




</main>
<!--<footer th:replace="fragment :: footer" ></footer>-->

</body>
</html>